BasedOnStyle: WebKit
AccessModifierOffset: 8
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: WebKit
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
ColumnLimit: 80
CompactNamespaces: true
UseTab: ForContinuationAndIndentation
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
DerivePointerAlignment: false
DisableFormat: false
IncludeBlocks: Regroup
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 8
KeepEmptyLinesAtTheStartOfBlocks: true
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 100
PointerAlignment: Right
ReflowComments: false
SortIncludes: true
SpaceAfterCStyleCast: false
TabWidth: 8

IncludeCategories:
  - Regex: '^<sys/types.*>'
    Priority: -2
    SortPriority: -4
  - Regex: '^<sys/time.*>'
    Priority: -2
    SortPriority: -3
  - Regex: '^<sys/.*>'
    Priority: -2
    SortPriority: -2
  - Regex: '^<.*>'
    Priority: -1
    SortPriority: -1
  - Regex: '^"sfm\.h"'
    Priority: 0
    SortPriority: 1
  - Regex: '^".*\.h"'
    Priority: 0
    SortPriority: 2

